<div class='row mt-50 ml-50'>
  <div class='col s12 m10 l10'>
    <h5 class='text-Serif-Reg'>Changing My Order</h5>
    <ul class="collapsible">
      <li class="active">
        <div class="collapsible-header">How do I make changes to my order?</div>
        <div class="collapsible-body"><span>First things first, get excited. You're going to look great!
            If you need to make changes to your order, navigate to the "Upcoming Orders" section of our website. If we
            haven't started packing your order, you can change your rental begin date, change sizes, add an accessory
            and/or update your shipping address.* Unfortunately, we can't make any changes to orders that are already
            in the process of being packed (or have already shipped from our warehouse).
            Once your item ships, you can follow your package in real time here. And don't forget to check out articles
            on The Shift for expert advice on how to style and accessorize your look.
            It's extremely important you try everything on the moment it arrives. On the off chance you don't love your
            item, we can overnight you a replacement style. That's our 100% Guarantee. Learn more about replacements
            here.
            The best way to manage your order is with our iPhone app (you can download it here).
            *Orders typically get packed a few days before your rental begin date.</span></div>
      </li>
      <li>
        <div class="collapsible-header">Where can I find my order number?</div>
        <div class="collapsible-body"><span>It's easy! To find your order number, just navigate to your order history
            on our website. You can also find it in the confirmation email you received after placing your order.</span></div>
      </li>
      <li>
        <div class="collapsible-header">How do I cancel my order?</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
  </div>
</div>

<div class='row ml-50'>
  <div class='col s12 m10 l10'>
    <h5 CLASS='text-Serif-Reg'>Recieving My Order</h5>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">What if the dresses I ordered don't fit?

        </div>
        <div class="collapsible-body"><span>
            If this happens, we can help. Choose one of the following options:
            Option 1: We'll help you find another dress
            If you reach out to us by 6pm EST (3pm EST if within NYC), we can overnight you another dress in time for
            you event for $12.95. You can call, email, and chat us for assistance or if you live near one of our
            stores, you can swap your original dress for another style (no appointment necessary). If the style you
            select is more expensive, you will be charged the difference in price. If the style is less expensive, you
            will be given a merchandise credit for the difference in price.
            Option 2: We'll give you a credit​
            We’re happy to give you a Rent the Runway credit (less the cost of shipping, accessories and saleable
            items) if none of the dresses in your order fit.
            To receive a credit, go to the “Orders” section of your Rent the Runway account and fill out our Return for
            Fit Request form. Use the provided packaging (which includes a pre-paid label) and return everything to us
            within 24 hours of receiving it. Credits do not expire, but we do not issue partial credits or credits for
            accessories or intimates.
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header">My rental hasn't arrived yet. When can I expect to receive it?

        </div>
        <div class="collapsible-body"><span>
            Orders typically ship out 1-2 days before your rental begin date. Your order will be delivered by 8pm EST
            on the first day of your rental period (NYC residents, it'll get to you before 10pm EST).
            Don't forget, if you're having your rental delivered to an office or apartment building you'll need someone
            to sign for the package.
            You can follow your package's journey here (tracking information will populate once your order is shipped
            from our fulfillment center).
          </span></div>
      </li>
      <li>
        <div class="collapsible-header">I've placed my order. What do I do next?

        </div>
        <div class="collapsible-body"><span>
            First thing's first, get excited. You're going to look great!
            Your order will ship out from our fulfillment center 1-2 days before your rental begin date.
            Once it's shipped, you can track your order in real time.
            Be sure to try everything on the moment your order arrives. On the off chance you're not totally satisfied
            with your Reserve rental, we'll do everything in our power to get a replacement style to you in time for
            your event. That's our 100% Guarantee.
          </span></div>
      </li>
      <li>
        <div class="collapsible-header">When will my order arrive? What will it look like?

        </div>
        <div class="collapsible-body"><span>
            Your order will be delivered to the shipping address you provided by 8pm on the first day of your rental
            period (NYC residents, it'll get to you before 10pm EST that day).
            Dresses and clothing will arrive in a navy blue Rent the Runway garment bag. Accessories may be delivered
            in a separate Rent the Runway box or bag.
            We do our best to ensure your dresses arrive wrinkle-free. Each dress is steamed and pressed before being
            sealed in plastic and placed in the garment bag.
          </span></div>
      </li>
    </ul>
  </div>
</div>

<div class='row ml-50'>
  <div class='col s12 m10 l10'>
    <h5 CLASS='text-Serif-Reg'>Returning My Order</h5>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">What if I lose the UPS return envelope sent with my order?

        </div>
        <div class="collapsible-body"><span>
            No problem, just send your order via UPS to the address below:
            Rent the Runway
            Order #
            100 Metro Way
            Secaucus, NJ 07094
            Please email a stylist and provide us with your new return tracking information. You will responsible for
            your own return method.
          </span></div>
      </li>
      <li>
        <div class="collapsible-header">How do I know my order has been successfully returned?
        </div>
        <div class="collapsible-body"><span>You'll hear from us!
            We'll send you an email when we receive your order back at our warehouse (typically 2-3 days after you drop
            it off at UPS). You can also check the status of your return by logging into your Rent the Runway account.
          </span></div>
      </li>
      <li>
        <div class="collapsible-header">Can I return my rental to a Rent the Runway store?

        </div>
        <div class="collapsible-body"><span>Of course! Just make sure you check the store's hours before you head over.
          </span></div>
      </li>
      <li>
        <div class="collapsible-header">Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
  </div>
</div>
