<div class="page-footer grey lighten-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="grey-text text-darken-4">Footer Content</h5>
        <p class="grey-text text-darken-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="grey-text text-darken-4">Be Social</h5>
        <ul>
          <li><a class="grey-text text-darken-4" href="#!">Facebook</a></li>
          <li><a class="grey-text text-darken-4" href="#!">Twitter</a></li>
          <li><a class="grey-text text-darken-4" href="#!">Pintrest</a></li>
          <li><a class="grey-text text-darken-4" href="#!">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container grey-text text-darken-4">
      © 2019 RENTBOX. All Rights Reserved
      <a class="grey-text text-darken-4 right ml-2" href="#!">SITE MAP</a>
      <a class="grey-text text-darken-4 right ml-2" href="#!">PRIVACY POLICY</a>
      <a class="grey-text text-darken-4 right" href="#!">TERMS OF SERVICE</a>
    </div>
  </div>
</div>