<div class='center mt-50'>
  <p class='text-Serif'><a name='how-it-works'></a>How It Works</p>
</div>

<div class="row">
  <div class="col s12 m3 l3">
    <div class="card medium card-width ml-80">
      <div class="card-image">
        <img src="./assets/how-it-works/shop.png">
      </div>
      <div class="card-content center">
        <span class="card-title">Choose What Ships</span>
        <p>Browse our selection and style recommendations. Then, you choose what ships!</p>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card medium card-width ml-150">
      <div class="card-image">
        <img src="./assets/how-it-works/wear-it.png">
      </div>
      <div class="card-content center">
        <span class="card-title">Wear Your Items</span>
        <p>Wear everything in your tote out and about, as many times as you’d like. Take selfiesor go on vacaction.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <div class="card medium card-width ml-220">
      <div class="card-image">
        <img src="./assets/how-it-works/return.png" class='mt-10'>
      </div>
      <div class="card-content center">
        <span class="card-title">Simply Return</span>
        <p>Return your items in our pre-paid envelope. Love something? Keep it for up to 50% off retail.</p>
      </div>
    </div>
  </div>
</div>