<div class='center mt-50'>
  <p class='text-Serif'>I am renting for...</p>
</div>
<div>
  <img class="responsive-img" src="./assets/categories/categories.png">
</div>
<div class='center mt-50'>
  <p class='text-Serif'>New Arrivals</p>
</div>
<div>
  <img class="responsive-img" src="./assets/categories/products.png">
</div>

<div class='center mt-50'>
  <p class='text-Serif'>Featured Products</p>
</div>
<div>
  <img class="responsive-img" src="./assets/categories/products.png">
</div>

<div>
  <img class="responsive-img mt-50" src="./assets/categories/banner.png">
</div>